# CS3110/5110: Data Privacy
## In-Class Exercise, week of 8/28/2023

In [3]:
# Load the data and libraries
import pandas as pd
import numpy as np

adult = pd.read_csv('https://github.com/jnear/cs3110-data-privacy/raw/main/homework/adult_with_pii.csv')

In [9]:
adult

,Name,DOB,SSN,Zip,Age,Workclass,fnlwgt,Education,Education-Num,Marital Status,Occupation,Relationship,Race,Sex,Capital Gain,Capital Loss,Hours per week,Country,Target
0,Karrie Trusslove,9/7/1967,732-14-6110,64152,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,Brandise Tripony,6/7/1988,150-19-2766,61523,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,Brenn McNeely,8/6/1991,725-59-9860,95668,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,Dorry Poter,4/6/2009,659-57-4974,25503,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,Dick Honnan,9/16/1951,220-93-3811,75387,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,Ardyce Golby,10/29/1961,212-61-8338,41328,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,Jean O'Connor,6/28/1952,737-32-2919,94735,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,Reuben Skrzynski,8/9/1966,314-48-0219,49628,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,Caye Biddle,5/19/1978,647-75-3550,8213,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,Hortense Hardesty,5/11/2012,690-42-5638,86153,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

## Question 1

Construct a de-identified version of the `adult` dataset.

In [12]:
def deidentify_adult():
    # idea: drop columns with identifying info
    # identifying info in Name, DOB, SSN
    return adult.drop(['Name', 'DOB', 'SSN'], axis=1)

adult_deid = deidentify_adult()

In [15]:
adult_deid

,Zip,Age,Workclass,fnlwgt,Education,Education-Num,Marital Status,Occupation,Relationship,Race,Sex,Capital Gain,Capital Loss,Hours per week,Country,Target
0,64152,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,61523,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,95668,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,25503,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,75387,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,41328,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,94735,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,49628,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,8213,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,86153,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [14]:
assert 'Name' not in adult_deid.columns
assert 'DOB' not in adult_deid.columns
assert 'SSN' not in adult_deid.columns

## Question 2

What columns did you remove from the dataset to de-identify it? Why did you choose these columns? Why did you not choose the remaining columns?

I removed obviously identifying info, like name, social security number, and date of birth.

The other information in the data is not unique to an individual, so it is not identifying information (weak argument).

## Question 3

Write a pandas expression to return just the row containing information about Brenn McNeely.

In [25]:
def get_brenns_row():
    # recipe for pandas for filtering rows you want:
    # 1. ask the question that you want to be true
    # 2. select the rows for which #1 is true
    # adult[query]
    row = adult[adult['Name'] == 'Brenn McNeely']
    return row

brenns_row = get_brenns_row()[['Name', 'DOB', 'Zip', 'Age']]
brenns_row

            Name       DOB    Zip  Age
2  Brenn McNeely  8/6/1991  95668   38

In [30]:
assert len(brenns_row) == 1
assert brenns_row['Zip'].iloc[0] == 95668
assert brenns_row['Age'].iloc[0] == 38

In [31]:
brenns_row

            Name       DOB    Zip  Age
2  Brenn McNeely  8/6/1991  95668   38

## Question 4

Conduct a linking attack to recover Brenn's data from the `adult_deid` dataset.

In [46]:
def recover_brenns_row():
    brenns_age = 38
    brenns_zip = 95668
    linked_rows = adult_deid[(adult_deid['Age'] == brenns_age) &
                             (adult_deid['Zip'] == brenns_zip)]
    return linked_rows

brenns_recovered_row = recover_brenns_row()
brenns_recovered_row

,Zip,Age,Workclass,fnlwgt,Education,Education-Num,Marital Status,Occupation,Relationship,Race,Sex,Capital Gain,Capital Loss,Hours per week,Country,Target
2,95668,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K

In [33]:
assert len(brenns_recovered_row) == 1
assert brenns_recovered_row['Education'].iloc[0] == 'HS-grad'